body {
  background-color: aliceblue;
}

.note_body {
  margin: auto;
  width: 50%;
  padding: 10px;
}

h1 {
  text-align: center;
}

.note_field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.note_field input {
  margin-right: 10px; 
}

.searchInput {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  width: 50%;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #92e4e4;
}

select {
  margin-left: 5px;
  border-radius: 20px;
  border: 2px solid #92e4e4;
  padding: 10px;
}

button {
  background-color: azure;
  color: black;
  border-radius: 5px;
  border: 2px solid #92e4e4;
  margin-left: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.note {
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 2px solid #000000;
  padding: 10px;
  margin-bottom: 10px;
}

/* for the notes */
.quote_display {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote_display h2 {
  color: #333;
}

.quote_display p {
  margin: 10px 0;
}

.quote_display button {
  background-color: #92e4e4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

